{% extends 'base.html' %}
{% include 'header.html' %}

{% block previous %}
<li class="nav-link"><a href="{{url_for('project_details')}}">Previous Page</a></li>
{% endblock %}

{% block next %}
<li class="nav-link"><a href="{{url_for('CustomerData')}}">Next Page</a></li>
<li class="nav-link"><a href="{{url_for('options')}}">Go To Options</a></li>
{% endblock %}



{% block title %} Home {% endblock %}



{% block body %}


<style>
* {
  box-sizing: border-box;
}

.row {
  margin-left:-5px;
  margin-right:-5px;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
</style>
<div class="row">
<div class="column">
            <div class="jumbotron">

                <h2>Financial <b>Parameters </b>
                {% if parameters == [] %}
                    <button type="button"  class="btn btn-success float-right"
                data-toggle="modal" data-target="#mymodal">Enter Financial Parameters' Value</button>
                {% endif %}
                </h2>


                {% with messages = get_flashed_messages() %}

                {% if messages %}

                {% for message in messages %}

                <div class="alert alert-success alert-dismissable" role="alert">

                    <button type="button" class="close" data-dismiss="alert" aria-label="close">

                        <span aria-hidden="true">x</span>

                    </button>


                {{message}}


                </div>


                {% endfor %}

                {% endif %}
                {% endwith %}




                <table class="table table-success table-striped">

                    <tr>

                      <th scope="col" >Entity</th>
                      <th scope="col" >Value</th>
                      <th scope="col" >UOM</th>
                      <th scope="col">Remarks</th>

                    </tr>

             {% if parameters %}
                    {% for row in parameters %}
                    <tr>
                        {% if row.entity == 'Depreciation Method for Investment' %}
                        {% if row.value == 0 %}

                        <td>{{row.entity}}</td>
                        <td>Straight line</td>
                        <td>{{row.UOM}}</td>
                        <td>{{row.remarks}}</td>
                        {% else %}
                        <td>{{row.entity}}</td>
                        <td>Reducing Balance</td>
                        <td>{{row.UOM}}</td>
                        <td>{{row.remarks}}</td>
                        {% endif %}
                        {% else %}
                       <td>{{row.entity}}</td>
                        <td>{{row.value}}</td>
                        <td>{{row.UOM}}</td>
                        <td>{{row.remarks}}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>
                           <span>
                            <a class="btn btn-success" data-toggle="modal" data-target="#modaledit" >Update</a>
<!--                            <a href="/delete/" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')">Delete</a>-->
                            </span>

                        </td>
                    </tr>
                  {% endif %}
                </table>

                  <!-- Modal update financial parameters-->

<div id="modaledit" class="modal fade" role="dialog">
   <div class="modal-dialog">


      <div class="modal-content">


         <div class="modal-header">


            <h4 class="modal-title">Update Financial Parameters</h4>


         </div>


         <div class="modal-body">


            <form action="{{url_for('updatefinancialparameters')}}" method="POST">


               <div class="form-group">


                  <table>
                         <tr>
                             <th>Entity</th>
                             <th>Value</th>
                             <th>UOM</th>
                             <th>Remarks</th>
                         </tr>
                         {% if parameters %}
                         {% for  i in range(19) %}


                             {% if inp_list[i][0]=='Depreciation Method for Investment' %}
                         <tr>
                             <th>{{inp_list[i][0]}}</th>
                               <td>
                                    <select name={{inp_list[i][1]}}value required>
                                    <option value=0 >Straight line</option>
                                    <option value=1 >Reducing balance method</option>
                                    </select>
                               </td>
                             <td><input type=text  name={{inp_list[i][1]}}UOM required="1" value="{{parameters[i].UOM}}"></td>
                             <td><input type=text  name={{inp_list[i][1]}}remarks required="1" value="{{parameters[i].remarks}}"></td>
                          </tr>
                           {% else %}
                           <tr>
                             <th>{{inp_list[i][0]}}</th>


                             <td><input type='number' step=any name={{inp_list[i][1]}}value required="1" value="{{parameters[i].value}}"></td>
                             <td><input type=text  name={{inp_list[i][1]}}UOM required="1" value="{{parameters[i].UOM}}"></td>
                             <td><input type=text  name={{inp_list[i][1]}}remarks required="1" value="{{parameters[i].remarks}}"></td>
                           </tr>
                             {% endif %}
                             {% endfor %}
                             {% endif %}


                     </table>
                   </div>




               <div class="form-group">


                  <button class="btn btn-primary" type="submit">Update</button>


               </div>


            </form>


         </div>


         <div class="modal-footer">


            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


         </div>


      </div>


   </div>

</div>



                </table>


            </div>
    </div>
    </div>



                  <!-- Modal Add financial parameters-->


<div id="mymodal" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">

            <h4 class="modal-title">Add Financial Parameters</h4>
         </div>
         <div class="modal-body">

            <form action="{{url_for('insertfinancialparameters')}}" method="POST">


               <div class="form-group">

                  <table >
                         <tr>
                             <th>Entity</th>
                             <th>Value</th>
                             <th>UOM</th>
                             <th>Remarks</th>
                         </tr>

                         {% for  label in inp_list %}

                         <tr>

                             {% if label[0]=='Depreciation Method for Investment' %}
                             <th>{{label[0]}}</th>
                               <td>
                                    <select name={{label[1]}}value required>
                                    <option value=0 >Straight line</option>
                                    <option value=1 >Reducing balance method</option>
                               </td>
                             <td><input type=text  name={{label[1]}}UOM required="1" ></td>
                             <td><input type=text  name={{label[1]}}remarks required="1" ></td>


                             {% else %}
                             <th>{{label[0]}}</th>


                             <td><input type='number' step=any name={{label[1]}}value required="1" ></td>
                             <td><input type=text  name={{label[1]}}UOM required="1" ></td>
                             <td><input type=text  name={{label[1]}}remarks required="1" ></td>
                              {% endif %}
                             {% endfor %}
                         </tr>

                     </table>
               </div>


               <div class="form-group">


                  <button class="btn btn-primary" type="submit">Add Data</button>


               </div>


            </form>


         </div>


         <div class="modal-footer">


            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


         </div>


      </div>


   </div>



    </div>

{% endblock %}
