{% extends 'base.html' %}
{% include 'header.html' %}



{% block title %} Home {% endblock %}



{% block body %}


    <div class="container">
      <div class="jumbotron">
        <h1>Supply chain solution </h1>
        <p>
          Supply chain is a chain of different pillars connected to each other. The whole supply chain network is only as efficient as its weakest pillar is efficient. The 5 pillars of supply chain are as follows-
            <ol>
              <li>Production</li>
              <li>Inventory</li>
              <li>Location</li>
              <li>Transportation</li>
              <li>Information</li>
            </ol>
       </p>

        <p>Supply chain management (SCM) is the active management of supply chain pillars to maximize customer value and achieve a sustainable competitive advantage. It represents a conscious effort by the supply chain firms to develop and run supply chains in the most effective & efficient ways possible. Supply chain activities cover everything from product development, sourcing, production, and logistics, as well as the information systems needed to coordinate these activities. But, an important aspect of almost every supply chain is the fact that members of the chain represent independent firms with their own goals and priorities. So, from here the job of a supply chain professional comes into picture to provide a solution in the best interest of every stake holder connected to the chain for a win-win story.</p>
      </div>

    </div>






    <div class="container">
  <div class="row align-items-start">
    <div class="col">
      <div class="card" style="width: 20rem;">
  <img src="https://images.unsplash.com/photo-1587293852726-70cdb56c2866?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=752&q=80" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Warehouse</h5>
    <p class="card-text">Warehousing is the act of storing goods that will be sold or distributed later.</p>
    <a href="{{url_for('options')}}" class="btn btn-primary">Warehouse Solution Design Tool</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 20rem;">
    <img src="https://images.unsplash.com/photo-1483825366482-1265f6ea9bc9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
    </div>
    <div class="col">
      <div class="card" style="width: 20rem;">
    <img src="https://images.unsplash.com/photo-1578575437130-527eed3abbec?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col">
      <div class="card" style="width: 20rem;">
    <img src="https://images.unsplash.com/photo-1519003722824-194d4455a60c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
    </div>
    <div class="col">
      <div class="card" style="width: 20rem;">
    <img src="https://images.unsplash.com/photo-1559297434-fae8a1916a79?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
    </div>
    <div class="col">
      <div class="card" style="width: 20rem;">
  <img src="https://images.unsplash.com/photo-1586771825024-f82ef5fb6b76?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    </div>
  </div>
  <div class="row align-items-end">
    <div class="col">
      <div class="card" style="width: 20rem;">
  <img src="https://images.unsplash.com/photo-1579034963892-388c821d1d9f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 20rem;">
  <img src="https://images.unsplash.com/photo-1589792923962-537704632910?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80 class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 20rem;">
  <img src="https://images.unsplash.com/photo-1600050513776-65c60c8f211f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    </div>
  </div>
</div>



  </body>
</html>



{% endblock %}
